

<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/dashboard">
                        DataBro
                    </a>
                </li>
                <li>
                    <a href="/dashboard/referrals">Referrals</a>
                </li>
                <li>
                    <a href="/dashboard/pageflow">Pageflow</a>
                </li>
                <li>
                    <a href="/dashboard/heatmap">Heatmap</a>
                </li>
                <li>
                    <a href="/dashboard/events">Events</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->